<div class="jumbotron">
  <p class="lead">View Properties owned by the Bank</p>
  <div class="row">
    <div class="span4 property-details">
      <div class="property-title well dark_blue"></div>
      <h3>Boardwalk</h3>
      <p><strong>Owner:</strong> Bank</p>
      <p><strong>Rent:</strong> $400</p>
      <p><strong>Mortgage Value:</strong> $400</p>
    </div>
  </div>
</div>

<hr>

<div class="row property-list"></div>

<script type="text/javascript">
  var loadThumbnails, propertyDetails, properties, html;

  loadThumbnails = function(data){
    properties = data;
    _.each(data, function(property){
      html = '<div class="small-card span2" data-id="' + property.id + '">';
      html += '<div class="small-property-card ' + property.property_group + '"></div>';
      html += '<h4>' + property.name + '</h4>';
      html += '</div>'
      $('.property-list').append(html);
    });
  };

  propertyDetails = function(id){
    selectedProperty = _.find(properties, function(property){ return property.id === id });

    html = '<div class="property-title well '+ selectedProperty.property_group + '"></div>';
    html += '<h3>' + selectedProperty.name + '</h3>';
    html += '<p><strong>Owner:</strong> ' + selectedProperty.owner.name + '</p>';
    html += '<p><strong>Rent:</strong> $400</p>';
    html += '<p><strong>Mortgage Value:</strong> $400</p>';
    console.log(selectedProperty);
    $('.property-details').html(html);
  };

  $(".property-list").on('click', 'div.small-card', function(){ propertyDetails($(this).data('id')) });

  $(function(){
    $.get('/properties', loadThumbnails); 
  });
</script>
