<div class="jumbotron">
  <p class="lead">View Properties owned by the Bank</p>
  <div class="row">
    <div class="span4 property-details">
      <div class="property-title well dark_blue"></div>
      <h3>Boardwalk</h3>
      <p><strong>Owner:</strong> Bank</p>
      <p><strong>Rent:</strong> $400</p>
      <p><strong>Mortgage Value:</strong> $400</p>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="small-card span2">   
    <div class="small-property-card dark_blue"></div>
    <h4>Boardwalk</h4>
  </div>

  <div class="small-card span2">   
    <div class="small-property-card green"></div>
    <h4>North Carolina Ave</h4>
  </div>

  <div class="small-card span2">   
    <div class="small-property-card yellow"></div>
    <h4>Marvin Gardens</h4>
  </div>

  <div class="small-card span2">   
    <div class="small-property-card orange"></div>
    <h4>St James Ave</h4>
  </div>

  <div class="small-card span2">   
    <div class="small-property-card pink"></div>
    <h4>St Charles Place</h4>
  </div>

  <div class="small-card span2">   
    <div class="small-property-card light_blue"></div>
    <h4>Oriental Ave</h4>
  </div>

  <div class="small-card span2">   
    <div class="small-property-card railroads"></div>
    <h4>Reading RR</h4>
  </div>

  <div class="small-card span2">   
    <div class="small-property-card red"></div>
    <h4>Illinois Ave</h4>
  </div>

  <div class="small-card span2">   
    <div class="small-property-card utilities"></div>
    <h4>Electric Company</h4>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $('.test').text("Adding some text");    
  });
</script>
