body {
  padding-top: 20px;
  padding-bottom: 40px;
}

/* Custom container */
.container-narrow {
  margin: 0 auto;
  max-width: 7
  height: 50px;
  width: 50px;
  margin-right: 12px;
  display: inline;
  float: left;
}
